<div class="restaurants-table-container">
    <h1 class="heading"> All locations for <%= @partner.brand %> </h1>

    <div class="cards-container">
        <%= render @partner.restaurants %>
    </div>
</div>