<div class="">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">grubhub&#39;s near-criminal fees and absurd fee deferment are so offensive one wonders if they plan on simply shuttering in a few months b/c i&#39;m not sure how they could conduct business with a straight face after this is all over: <a href="https://t.co/yUQYG0INsS">https://t.co/yUQYG0INsS</a></p>&mdash; ryan sutton (@qualityrye) <a href="https://twitter.com/qualityrye/status/1240071005005066240?ref_src=twsrc%5Etfw">March 18, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We are so fucked if the federal government doesn’t immediately pass a massive stimulus bill for the hospitality sector and small business in general. <br><br>Too many livelihoods at stake for partisan politics and ego to interfere with doing the right thing <a href="https://twitter.com/hashtag/toosmalltofail?src=hash&amp;ref_src=twsrc%5Etfw">#toosmalltofail</a> <a href="https://t.co/WCvj8yT5np">https://t.co/WCvj8yT5np</a></p>&mdash; Dave Chang (@davidchang) <a href="https://twitter.com/davidchang/status/1239628790227238915?ref_src=twsrc%5Etfw">March 16, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">.<a href="https://twitter.com/Grubhub?ref_src=twsrc%5Etfw">@Grubhub</a> must stop with this nonsense. They’ve been horrible to restaurants for too long. Since last week they are creating more confusion &amp; not being straight. When restaurants contact their customer service they can’t give straight answers! This is no time for PR &amp; politics. <a href="https://t.co/E7muWVRltL">https://t.co/E7muWVRltL</a></p>&mdash; Andrew Rigie (@AndrewRigie) <a href="https://twitter.com/AndrewRigie/status/1239283605219749889?ref_src=twsrc%5Etfw">March 15, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Picture worth a thousand words... <a href="https://t.co/13AcEvzVOA">pic.twitter.com/13AcEvzVOA</a></p>&mdash; Shai Dardashti (@ShaiDardashti) <a href="https://twitter.com/ShaiDardashti/status/1238642577873596417?ref_src=twsrc%5Etfw">March 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I’m under the opinion that there will be more food establishment closures/bankruptcies during this “brief” COVID-19 crises vs those unfortunate individuals that will pass away from their illness. <a href="https://t.co/3NqIkWryVA">https://t.co/3NqIkWryVA</a></p>&mdash; McD Truth (@McD_Truth) <a href="https://twitter.com/McD_Truth/status/1238621627333726208?ref_src=twsrc%5Etfw">March 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Waive the fees <a href="https://t.co/rm23l60KsF">pic.twitter.com/rm23l60KsF</a></p>&mdash; Kristen Hawley (@kh) <a href="https://twitter.com/kh/status/1240064407343755264?ref_src=twsrc%5Etfw">March 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>