<div class="restaurants-container">
    <%= render partial: "layouts/header" %>

    <div class="restaurants-main-content">
        <div class="restaurants-table-container">
            <h1 class="heading"> The only way we defeat COVID-19 is to STAY AWAY FROM EACH OTHER </h1>
            <p> 
                But that’s the conundrum - distance can heal us, but it absolutely 
                crushes the local businesses that nourish our body, mind, and soul.
            </p>
            <p class="mb-8"> 
                And let’s face it - I’m a millennial living in a major metro. I can’t cook 
                and am totally spoiled by my smartphone. So how will I navigate the painful 
                challenge of figuring out what to eat???
                For those of you like me - who want to support local restaurants
                and aren’t on 100% Soylent diets (I am actually 90% bread and cheese, so...), 
                we put together this curated guide to ordering directly from local restaurants.
            </p>

            <h1 class="heading"> Our motivation </h1>
            <p> 
                The restaurant industry is in the midst of an existential crisis. 
                Many brands - small and large - filled with people who have spent their 
                lives ensuring we are fed and happy now face an uncertain future.
            </p>
            <p class="mb-8"> 
                Our family’s restaurant went through 9/11 and the worst recession since the 
                Great Depression, and only now, facing the repercussions of COVID-19, 
                have we actually seen them scared for the future.
            </p>

            <h1 class="heading"> If that’s not motivation enough, here’s a collection of other things we’ve gathered as the potential impact starts to sink in… </h1>
            <%= link_to "Link1", "https://www.eater.com/2020/3/16/21182291/restaurants-wont-survive-coronavirus-pandemic-without-bail-out", target: "_blank" %>
            <%= link_to "Link2", "https://www.nytimes.com/2020/03/16/dining/restaurants-coronavirus.html", target: "_blank" %>
        </div>
    </div>
</div>