<%= render partial: "restaurants/google_maps_script" %>

<div class="long-description text-base">
    <p class="mb-2"> 
        With everyone staying home, our restaurants need us more than ever before 
        - and they need us to order <span class="italic"> directly </span>.
    </p>
    <p class="mb-2">
        Because as people stay home and restaurants struggle to stay open,
        third-party delivery companies are boldly (lol) "deferring" fees instead of simply waiving them.
    </p>
    <p class="mb-2 font-semibold"> 
        So put away the delivery app (seriously, delete it), search 
        below for your favorite restaurant, order direct, and boost your local economy. 
        Let's gooooooo!
    </p>
</div>

<%= render partial: "restaurants/search_form" %>

<div class="restaurants-table-container">
    <h1 class="heading homepage-heading"> Here are restaurants that deliver near you </h1>

    <% if @restaurants.any? %>
        <div class="cards-container">
            <%= render @restaurants %>
        </div>
    <% else %>
        <p class="italic w-full mb-12 text-xl"> Didn't find the restaurant you're looking for?
            <a class="typeform-share button interactive-button" 
            href="https://bikkyinc.typeform.com/to/qg3FJC" 
            data-mode="popup" target="_blank"> Suggest a Restaurant here! </a>
        </p>
        <script>
            (function() {
                var qs, js, q, s, d = document,
                    gi = d.getElementById,
                    ce = d.createElement,
                    gt = d.getElementsByTagName,
                    id = "typef_orm_share",
                    b = "https://embed.typeform.com/";
                if (!gi.call(d, id)) {
                    js = ce.call(d, "script");
                    js.id = id;
                    js.src = b + "embed.js";
                    q = gt.call(d, "script")[0];
                    q.parentNode.insertBefore(js, q)
                }
            })()
        </script>
    <% end %>
</div>