@import "tailwindcss/base";
@import "./fonts";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply font-lato;
}

// Disable outline effect on focus
*:focus { @apply outline-none; }

// restaurants#index
.restaurants-container {
    .header {
        @apply p-5 h-auto;
        @screen lg { @apply px-32 pb-12; }
        background-color: #f0f0f0;

        .navbar {
            @apply flex justify-between items-center h-auto mb-12 py-4;
            @screen md { @apply h-12 py-12; }

            &-url { @apply italic text-sm mr-2; }
            &-link { 
                @apply font-semibold text-xl;
                @screen md { @apply text-2xl -mb-1; }
            }
            &-item-container {
                @apply text-sm uppercase leading-none text-center;
                @media screen and (max-width: 768px) {
                    @apply flex flex-col;
                }
            }
            &-item { 
                @apply mb-4 pb-2 border-b border-gray-500 px-3;
                &:last-child { @apply mb-0; }
                @screen md { 
                    @apply mb-0 mr-6;
                    &:last-child { @apply mr-0; }
                }
            }
        }

        .navbar-start {
            @apply flex items-center;
            img { @apply mr-2; max-width: 50px; }
            .links-container { @apply flex flex-col items-end; }
        }

        .content {
            .heading { 
                @apply text-4xl leading-none font-semibold text-center uppercase my-6;
                @screen md { @apply text-5xl tracking-normal; }
            }
        }
    }

    .restaurants-main-content {
        @apply bg-white;

        .long-description {
            @apply m-5 my-4;
            @screen md { @apply mx-32; }
        }
    }

    .search-form {
        @apply h-16 flex flex-col items-center border-b border-t p-5;
        @screen md { @apply flex-row h-20 border-t-0; }
        @screen lg { @apply px-32; }

        .search-item-container {
            @apply hidden w-auto mr-3 border-r pr-8;
            @screen md { @apply inline; }

            span { @apply font-semibold pb-2 border-b-2 border-green-300 px-2; }
        }

        .search-input-container {
            @apply w-full font-semibold ml-3;
            .input { @apply w-full; }
        }

        .seach-submit-button-container {
            @apply flex-1 flex justify-end;
            @screen md { @apply w-auto; }
            .submit-button  { 
                @apply h-12 mt-8 mb-4 rounded-full bg-gray-700 text-white w-auto px-6 py-3 inline-block;
                @screen md { @apply my-0 w-auto; }
            }
            @media screen and (max-width: 768px) {
                @apply min-w-full;
                .submit-button { @apply min-w-full; }
            }
        }
    }

    .filters-contaniner {
        @apply border-b py-5 h-20 px-32 flex;
        .select-container {
            @apply border-r pr-6 mr-6 flex items-center;
            &:last-child { @apply mr-0 border-none; }

            select {
                @apply bg-white text-base;
            }
        }
    }

    .restaurants-table-container {
        @apply p-5 mt-16;
        @screen lg { @apply px-32; }
        .heading { @apply text-3xl mb-6 font-semibold; }
    }

    .cards-container {
        @apply grid grid-cols-1;
        @screen md { @apply grid grid-cols-2 gap-4; }
        @screen lg { @apply grid-cols-3; }

        .card {
            @apply p-4 border-2 rounded mb-4;
            @screen md { @apply mb-0; }

            .card-header { 
                @apply flex mb-4 pb-2 border-b font-semibold justify-center;
                min-height: 44px;
                h1 { @apply mr-3; }
            }

            .card-content {
                @apply flex flex-col justify-between;
                @screen md { min-height: 350px; }

                .card-heading { @apply text-xl mb-2; }
                .card-img { @apply bg-cover bg-center bg-no-repeat w-full; height: 150px; }
                .card-description {
                    @apply text-gray-600 text-justify mt-3 mb-4;
                }
            }

            .card-footer{
                @apply w-full flex justify-end;
                .footer-item {
                    @apply rounded-full bg-gray-700 text-white px-6 py-3 inline-block;
                }
            }
        }
    }
}