// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";

$primary-color: #18a89e; // Arctic Admin Theme primary color
$sidebar-background: #FFFFFF;
$text-color: #4D4F5C;

@import "arctic_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@media screen and (min-width: 576px){
    .header .site_title {
        text-align: left;
        padding-left: 20px;
    }
}
