<div class="restaurants-container">
    <%= render partial: "layouts/header" %>

    <div class="restaurants-main-content">
        <div class="restaurants-table-container">
            <% if @restaurants.any? %>
                <% @restaurants.each do |motto, restaurants| %>
                    <h1 class="search-guides-heading"> <%= motto %> </h1>
                    <div class="cards-container mb-8">
                        <%= render restaurants %>
                    </div>
                <% end %>
            <% else %>
                <%= link_to "https://forms.gle/viD4gsHDrCNwxdtKA", target: "_blank" do %>
                        <p class="italic w-full"> Didn't find the restaurant you're looking for? <span class="font-bold"> Submit your request </span> and our team will look into publishing it soon! </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>